 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-image-1 {
  width: 199px;
  height: 199px;
  margin: 71px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 300;
  width: 60px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: -3px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 0 19px 0 rgba(29,127,165,1);
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 9px auto 60px;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 20px !important;
  transform: scale(1.1) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 20px !important;
  transform: scale(1.1) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 108px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-shadow: -2px 0 8px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 31px auto 0;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 10px auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(140, 158, 255) !important;
}

.u-section-2 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(237, 31, 36) !important;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: -2px 0 20px rgba(255,255,255,1) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: -2px 0 20px rgba(255,255,255,1) !important;
}